body {
    font-family :"Roboto"; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8d99ae;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
    justify-content: center; 
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: cursive; 
    cursor: pointer;
    border-radius: 5px;
}

.status {
    margin-top: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight: 300;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.bu {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.cell.X {
    color: red; 
}

.cell.O {
    color: blue; 
}
